.c1{
  border: 1px solid rgba(0, 0, 0, 0.219);
  padding: 20px;
  margin-top: 50px;
  border-radius: 5px;
}
.c1:hover{
  box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.521);
}

#demo1{
  margin-top: 50px;
}

.carousel-item img{
  height: 800px;
  width: 100%;
}

.carousel-control-next-icon{
  height: 40px;
  width: 40px;
}

.carousel-control-prev-icon{
  height: 40px;
  width: 40px;
}

footer{
  font-family: sans-serif;  
  font-size: 20px;
  text-align: center;
  padding: 5px;
  background-color: rgb(181, 216, 231);
  color: black;
}
